@font-face {
	font-family: 'SF Mono Regular';
	src: local('SF Mono Regular'),
    url('../Fonts/FontsFree-Net-SFMono-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html
{
    margin: 0;
    padding: 0;
    font-family: 'SF Mono Regular', Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: #c4d0db;
    background-color: #343434;
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #343434;/* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(74, 28, 87); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #00ffb3 /* creates padding around scroll thumb */
}


/* Annoucer ----------------------------------------------------------*/

#by_announcer
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #343434;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 3s ease-out;
}

#by_announcer > .announcer_content
{
    width: 25%; 
}

.announcer_bg_svg
{
    stroke: #0000;
    stroke-width: 3;
}

.announcer_filled
{
    stroke: #00ffb3;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 1.5s ease-in-out;
}

@keyframes opacity {
    from { 
        opacity: 0;
    }
    to   { 
        opacity: 1; 
    }
  }

.announcer_text
{
    animation: 3s linear opacity; 
}


/* Body --------------------------------------------------------------------- */

#container 
{
    max-width: 100em;
    margin: auto;
    display: none;
}
header > nav.nav 
{
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5em;
    animation: 4s ease 1s 1 normal both animateNav;
    overflow: hidden;
}

@keyframes animateNav {
    0% {width: 0%;}
    100% {width: 100%;}
  }

header > nav.nav > .logo
{
    margin-left: 3em;
    height: 3em;
    transition: transform 1s ease;
}

.logo:hover 
{
    /* cursor: pointer; */
    transform: scale(1.2);
}

header > nav.nav > .nav-content
{
    min-width: 30%;
}
header > nav.nav > .nav-content > ul
{
    display: flex;
    justify-content: space-around;  
    text-decoration: none;
    list-style: none;
}

header > nav.nav > .nav-content > ul > li
{
    width: 8em;
    text-align: center;
    margin: 0 1em;
}

header > nav.nav > .nav-content a 
{
    text-decoration: none;
    color: #c4d0db;
}

header > nav.nav > .nav-content a:hover
{
    color: #00ffb3;
}

main 
{
    background: no-repeat center/100% url(../Img/backround.png);
    padding-top: 3em;
    min-height: 95vh;

}
main > .section-main 
{
    opacity: 0.70;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272b35;
    max-height: 75vh;
}

main > .section-main >.main-content
{
    position: relative;
    background-color: rgb(43, 43, 82);
    font-weight: bold;
    /* max-width: 16em; */
    width:  60%;
    margin: 2em;
    min-height: 20em;
    align-self: center;
    box-shadow: -30px 0px 30px black;
}

main > .section-main >.main-content::before, main > .section-main >.main-content::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #00ffb3,#21473c, #5b176e, #2b2b52/*#340255*/, #21242b);
    background-size: 200%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.02);
    animation: 10s animate 4s infinite;
}

main > .section-main >.main-content::after
{
    filter: blur(20px);
}
@keyframes animate {
    0% {background-position: 0 0;}
    50% {background-position: 300% 0;}
    100% {background-position: 0 0;}
  }

#main-content
{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2em;
}

#main-content > h1, #main-content > h2
{
    font-weight: bolder;
    font-size: xx-large;
}

#main-content > p 
{
    font-weight: bold;
    font-size: large;
    line-height: 32px;
}

main > .section-main >.main-img
{
    z-index: 100;
    max-width: 40%;
}
main > .section-main >.main-img > img#mi{
    width: auto;
    height: 100%;
    max-height: calc(90vh - 100px);
    transform: translate(65px, 0px);
    position: relative;
    /* filter: grayscale(100%) contrast(1) brightness(90%) drop-shadow(-45px 0px 0px #000 #00FFb3); */
    cursor: grab;
    filter: drop-shadow(-45px 0px 0px #000 /*#00FFb3*/) /*invert(5%)*/;
}

main > .section-main >.main-img > img#mi:hover
{
    filter: drop-shadow(-45px 0px 0px #000 /*#00FFb3*/);
}

.cursor 
{
    font-size: larger;
    animation: .7s linear 1s infinite opacity;
}

.bg-svg
{
    stroke: #0000;
    stroke-width: 3;
}

.filled
{
    stroke: #00ffb3;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 4s ease-in-out;
}

.about {
    margin-top: 1em;
}
.block_set
{
    max-width: 90%;
    margin: auto; 
    /* margin-top: em; */
}

.sp
{
    /* position: relative; */
    max-width: 80%;
    text-align: left;
    margin: auto;
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.sp_content > *
{
    margin: 2em 0;
}

.sp_content > p
{
   background-color: #2b2b52;
   padding: 2em;
   font-weight: bolder;
   /* border-radius: 20px; */
   opacity: .8;
   box-shadow: 20px 20px 30px black;
}

.h3
{
    position: relative;
    padding-left: 45%;
    color: #00ffb3;
    font-weight: bolder;
    font-size: x-large;
    width: 100%;
}

.h3::before, .h3::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background: linear-gradient(90deg, #00ffb3,#21473c, #5b176e, #2b2b52/*#340255*/, #21242b);
    width: 40%;
    background-size: 150%;
    height: 2px;
    /* z-index: -1; */
    transform: scale(1.02);
    animation: 10s animate 4s infinite;
   
}

.h3::after
{
    filter: blur(6px);
}

.sp_block_left
{
    max-width: 50%;
    padding: 2em;
    background: #2a292b;
    /* border: 1px solid #272b35; */
    box-shadow: 10px 10px 10px #252020;

}

.sp_block_right
{
    max-width: 45%;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #21473c; */
}

.sp_block_left .intro 
{
    display: block;
    font-weight: 700;
    font-size: larger;
    color: #00ffb3;
    padding: 1em 0;
}

.sp_block_right_items
{
    text-align: center;
    padding: 1em;
    background: #353550;
    margin: 5px 0;
    box-shadow: 9px 9px 15px #211540;
    
}

.transformed
{
    transform: translate(-100px, 0);
}

.h4
{
    margin-bottom: 1em;
    padding: 1em 2em;
    font-weight: bolder;
    font-size: large;
    /* border: 2px solid #000; */
}

.bold
{
    padding: 1em;
}

.list-inline
{
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.list-inline li
{
    background-color: #32b08c;
    padding: 0.5em;
    margin: 2px;
    /* border-radius: 10px; */
    color: #2b2b52;

    /* font-weight: 800; */
}

.list-inline a
{
    position: relative;
    text-decoration: none;
    color: #ffff;
}

.social li
{
    width: 25%;
}

.social a 
{
    position: relative;
    display: block;
    padding: 30px;
}

.social li:hover
{
    background: #63638e;

}

.social .icon
{
    height: 50px;
    width: 50%;
    position: absolute;
    right: 10px;
    top: calc(50% - 25px);

}

footer
{
    /* min-height: 15em; */
    background-color: #2a292b;
    color:  #00ffb3;
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

footer div
{
    padding: 5em;
    margin-top: 4em;
    font-size: small;
    width: 60%;
}

footer p
{
    border-top: 1px solid #00ffb3;
    padding: 1em;
    text-align: center;
}


/* .scaled
{
    background-color: #5b176e!important;
    z-index: 100;
    transform: translate(0px, -20px);
}

.tools-tr
{
    transform: translate(-45px, -70px);
}

.tools-tr-l
{
    transform: translate(45px, -70px);
} */


