@font-face {
	font-family: 'SF Mono Regular';
	src: local('SF Mono Regular'),
    url('../Fonts/FontsFree-Net-SFMono-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html
{
    margin: 0;
    padding: 0;
    font-family: 'SF Mono Regular', Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
    background-color: rgb(52, 52, 52);
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #343434;/* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(74, 28, 87); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #00ffb3 /* creates padding around scroll thumb */
}


/* Annoucer ----------------------------------------------------------*/

#by_announcer
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #343434;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 3s ease-out;
}

#by_announcer > .announcer_content
{
    width: 25%; 
}

.announcer_bg_svg
{
    stroke: #0000;
    stroke-width: 3;
}

.announcer_filled
{
    stroke: #00ffb3;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 1.5s ease-in-out;
}

@keyframes opacity {
    from { 
        opacity: 0;
    }
    to   { 
        opacity: 1; 
    }
  }

.announcer_text
{
    animation: 3s linear opacity; 
}


/* Body --------------------------------------------------------------------- */

#container 
{
    max-width: 100em;
    margin: auto;
    display: none;
}
header > nav.nav 
{
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5em;
    animation: 4s ease 1s 1 normal both animateNav;
    overflow: hidden;
}

@keyframes animateNav {
    0% {width: 0%;}
    100% {width: 100%;}
  }

header > nav.nav > .logo
{
    margin-left: 3em;
    height: 3em;
    transition: transform 1s ease;
}

.logo:hover 
{
    /* cursor: pointer; */
    transform: scale(1.2);
}

header > nav.nav > .nav-content
{
    min-width: 30%;
}
header > nav.nav > .nav-content > ul
{
    display: flex;
    justify-content: space-around;  
    text-decoration: none;
    list-style: none;
}

header > nav.nav > .nav-content > ul > li
{
    width: 8em;
    text-align: center;
    margin: 0 1em;
}

header > nav.nav > .nav-content a 
{
    text-decoration: none;
    color: white;
}

header > nav.nav > .nav-content a:hover
{
    color: #00ffb3;
}

main 
{
    background: no-repeat center/100% url(../Img/backround.png);
    padding-top: 3em;
    min-height: 95vh;

}
main > .section-main 
{
    opacity: 0.70;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272b35;
    max-height: 75vh;
}

main > .section-main >.main-content
{
    position: relative;
    background-color: rgb(43, 43, 82);
    font-weight: bold;
    /* max-width: 16em; */
    min-width:  63%;
    margin: 3px;
    min-height: 20em;
    align-self: center;
}

main > .section-main >.main-content::before, main > .section-main >.main-content::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #00ffb3,#21473c, #5b176e, #2b2b52/*#340255*/, #21242b);
    background-size: 200%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.02);
    animation: 10s animate 4s infinite;
}

main > .section-main >.main-content::after
{
    filter: blur(20px);
}
@keyframes animate {
    0% {background-position: 0 0;}
    50% {background-position: 300% 0;}
    100% {background-position: 0 0;}
  }

#main-content
{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#main-content > h1, #main-content > h2
{
    font-weight: bolder;
    font-size: xx-large;
}

#main-content > p 
{
    font-weight: bold;
    font-size: large;
    line-height: 32px;
}

main > .section-main >.main-img
{
    z-index: 100;
}
main > .section-main >.main-img > img#mi{
    width: auto;
    height: 100%;
    max-height: calc(90vh - 100px);
    transform: translate(65px, 0px);
    position: relative;
    filter: grayscale(100%) contrast(1) brightness(90%) drop-shadow(-45px 0px 0px #000 /*#00FFb3*/);
    cursor: grab;
    /* filter: drop-shadow(-45px 0px 0px #000 /*#00FFb3*//*) invert(5%);*/
}

main > .section-main >.main-img > img#mi:hover
{
    filter: drop-shadow(-45px 0px 0px #000 /*#00FFb3*/);
}

.cursor 
{
    font-size: larger;
    animation: .7s linear 1s infinite opacity;
}

.bg-svg
{
    stroke: #0000;
    stroke-width: 3;
}

.filled
{
    stroke: #00ffb3;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 4s ease-in-out;
}

@keyframes glissement {
    from {
      margin-right: 100%;
      opacity: 0;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      opacity: 1;
      width: 100%;
    };
}

@keyframes glissementX {
    from {
      transform: translate(-100%, 0);
      opacity: 0;
    }
  
    to {
        transform: translateX(0, 0);
        opacity: 1;
    };
}
