@font-face {
	font-family: 'SF Mono Regular';
	src: local('SF Mono Regular'),
    url('../Fonts/FontsFree-Net-SFMono-Regular.ttf') format('truetype');
}

body, html
{
    margin: 0;
    padding: 0;
    font-family: 'SF Mono Regular', Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
    background-color: rgb(52, 52, 52);
}

a 
{
    text-decoration: none;
    color: white;
}

header > nav.nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5em;
}
header > nav.nav > .logo
{
    margin-left: 3em;
}

header > nav.nav > .nav-content
{
    min-width: 60%;
}
header > nav.nav > .nav-content > ul
{
    display: flex;
    justify-content: space-around;  
    text-decoration: none;
    list-style: none;
}

header > nav.nav > .nav-content > ul > li
{
    width: 8em;
    text-align: center;
    margin: 0 1em;
}

main 
{
    padding-top: 5em;

}
main > .section-main 
{
    display: flex;
    background-color: rgb(94, 94, 94);
    max-height: 400px;
}

main > .section-main >.main-img
{
    /* max-width: 20%; */
    /* padding: 2em; */
}

main > .section-main >.main-img > img#mi{
    width: auto;
    height: 100%;
    max-height: calc(100vh - 100px);

    transform: translate(160px, 0px);
    /* transform: skew(0deg, 180deg); */
    /* transition: width 2s, transform 5s; */
    
}

main > .section-main >.main-img > img#mi:hover
{
    /* rotate: 10deg; */
    /* transform: scale(1.6); */
    /* transform: translate(50px, 4px); */
    /* transform: skew(0deg, 180deg); */
}

main > .section-main >.main-content
{
    font-weight: bold;
    max-width: 30em;
    width:  40%;
    padding: 2em;
    border: 2px solid rgb(0, 255, 179);
    transition-delay: 1s;
    transition-property: transform;
    transition-duration: 5s;
    overflow: hidden;
}
/* main > .section-main >.main-content:hover
{

    transform: translate(300px, 0px);
} */
@keyframes glissement {
    from {
      margin-right: 100%;
      opacity: 0;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      opacity: 1;
      width: 100%;
    };
}

@keyframes glissementX {
    from {
      transform: translate(-100%, 0);
      opacity: 0;
    }
  
    to {
        transform: translateX(0, 0);
        opacity: 1;
    };
}
@keyframes slidein {
    from { 
        opacity: 0;; 
    }
    to   { 
        opacity: 1; 
    }
  }


div.main-content > h1, div.main-content > h2, div.main-content > p
{
    /* display: none; */
    /* animation: 2s linear glissementX;  */
}
div.main-content > p 
{
     /* opacity: 0;
    display: block;
    animation-duration:     5s;
    animation-name: glissement;
    animation-delay: 2s; */
}
.cursor 
{
    font-size: larger;
    animation: .7s linear 1s infinite slidein;
}